doctype html
html
  head
    title Responsive Page
    link(rel="stylesheet", href="responsive.css")
  body
    div#header Header Section
      nav#menu
        label#menu-icon &#9776;
        ul#menulist
          li: a(href='/') Menu 1
          li: a(href='/') Menu 2
          li: a(href='/') Menu 3
    div.container
      div#section1
        h3 Section 1
        p Testing 123
      div#section2
        h3 Section 2
        p Testing 234
      div#section3
        h3 Section 3
        p Testing 345
    script(src="responsive.js")
